.scene {
  /*opacity: 0;*/
}

.scene.active {
  z-index: auto;
  opacity: 1;
}
.scene.active .scene-title,
.scene.active .scene-description {
  opacity: 1;
}

#hill,
.scene.fixed .scene-element-wrapper,
.scene.on-top .scene-element-wrapper {
  z-index: 100;
}

.scene-element-wrapper {
  width: 100%;
}
.scene-element {
  display: inline-block;
  float: left;
}
.scene-element-content-wrapper {
  float: left;
  transform: rotate(-45deg) translateX(100%);
  transform-origin: 50% 100%;
}
.scene-element-content {
  transform: translateX(-50%) translateY(-50%);

/*  position: relative;
  top: 200px;
  left: 200px;*/
}



#hill {
  width: 1600px;
  margin-left: -250px;
}


/*.box .scene-element-content-wrapper {
  width: 100px;
  height: 100px;
  background: blue;
  border: 10px solid red;
  line-height: 100px;
  font-size: 80px !important;
  color: #f90;
  font-weight: bold;
  padding-bottom: 100px;
}

.scene:last-child .box .scene-element-content-wrapper {
  width: 200px;
  height: 400px;
  background: red;
  border: 10px solid green;
  line-height: 100px;
  font-size: 80px !important;
  color: #f90;
  font-weight: bold;
}*/



#origin-helper {
  border-radius: 100%;
  background: orange;
  border: 10px solid blue;
  width: 10px;
  height: 10px;
  position: fixed;
  z-index: 9999;
}

.scrollContent {
  width: 1200px !important;
  margin: 0 auto;
}

#background {
  margin-top: 500px;
}

.dana-si-gion .scene-element-content {
  width: 400px;
  height: 400px;
}
.dana-si-gion .scene-element-content img {
  width: 100%;
  height: auto;
}




.scene-title {
  transition: opacity 300ms linear;
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  font-size: 3em;
  opacity: 0;
}

.scene-description {
  transition: opacity 500ms linear;
  width: 50%;
  position:relative;
  top: -400px;
  font-family: 'Lobster', cursive;
  font-size: 1em;
  opacity: 0;
  border: 6px solid #E8B71A;
  border-radius: 20px;
  background: #F7EAC8;
  padding: 20px;
}



