html.rem-root {
  font-size: 16px;
}

.scene {
  /*opacity: 0;*/
  pointer-events: none;
  user-select: none;
}

.scene.active {
  z-index: auto;
  opacity: 1;
}
.scene.active .scene-title,
.scene.active .scene-description {
  opacity: 1;
  transform: none;
  transition-delay: 500ms;
}
.scene.active .scene-title {
  transition-delay: 200ms;
}

#hill,
.scene.fixed .scene-element-wrapper,
.scene.on-top .scene-element-wrapper {
  z-index: 100;
}

.scene-element-wrapper {
  width: 100%;
}
.scene-element {
  display: inline-block;
  float: left;
}
.scene-element-content-wrapper {
  float: left;
  transform: rotate(-45deg) translateX(100%);
  transform-origin: 50% 100%;
}
.scene-element-content {
  transform: translateX(-50%) translateY(-50%);

/*  position: relative;
  top: 200px;
  left: 200px;*/
}



#hill {
/*  width: 1600px;
  margin-left: -250px;
*/
  width: 1600px;
  margin-left: -250px;
  height: 1600px;
  border-radius: 100%;
  border: 8px solid green;
  background:radial-gradient(ellipse at center, green 0%, #1FDA9A 100%);
}


/*.box .scene-element-content-wrapper {
  width: 100px;
  height: 100px;
  background: blue;
  border: 10px solid red;
  line-height: 100px;
  font-size: 80px !important;
  color: #f90;
  font-weight: bold;
  padding-bottom: 100px;
}

.scene:last-child .box .scene-element-content-wrapper {
  width: 200px;
  height: 400px;
  background: red;
  border: 10px solid green;
  line-height: 100px;
  font-size: 80px !important;
  color: #f90;
  font-weight: bold;
}*/



#origin-helper {
  border-radius: 100%;
  background: orange;
  border: 10px solid blue;
  width: 10px;
  height: 10px;
  position: fixed;
  z-index: 9999;
}

.scrollContent {
  width: 1200px !important;
  margin: 0 auto;
}

#background {
  margin-top: 500px;
}

#bike {
  pointer-events: all;
}
/*#bike > * {
  pointer-events: none;
}
#bike > .pointer-events-all {
  pointer-events: all;
}*/


.dana-si-gion .scene-element-content {
  width: 400px;
  height: 400px;
  position: relative;
}
.dana-si-gion .scene-element-content img {
  width: 100%;
  height: auto;
}

.dana-si-gion .scene-element-content .bubble-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 200px;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: all 300ms linear;
}
.dana-si-gion .scene-element-content .bubble-wrapper .bubble {
  border-radius: 100%;
  position: absolute;
  background: #fff;
  border: 6px solid #F7EAC8
}
.dana-si-gion .scene-element-content .bubble-wrapper .bubble-1 {
  width: 15px;
  height: 15px;
  bottom: 15px;
  right: 15px;
}

.dana-si-gion .scene-element-content .bubble-wrapper .bubble-2 {
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
}

.dana-si-gion .scene-element-content .bubble-wrapper .bubble-3 {
  width: 135px;
  height: 135px;
  bottom: 43px;
  right: 71px;
  overflow: hidden;
}
.dana-si-gion .scene-element-content .bubble-wrapper .bubble-3 a {
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dana-si-gion .scene-element-content .bubble-wrapper.active {
  transform: none;
}
.dana-si-gion .scene-element-content .bubble-wrapper.active a.active {
  display: block;
}




.scene-title {
  transition: all 500ms 0s linear;
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0;
  position: fixed;
  top: 100px;
  left: 100px;
  width: 200px;
  color: black;
  text-shadow: black 0px 0px 20px;
  z-index: 99999999;
  transform: translateX(-50%);
}

.scene-description {
  transition: all 500ms 0s linear;
  width: 40%;
  position: relative;
  top: -400px;
  font-family: 'Lobster', cursive;
  font-size: 1rem;
  opacity: 0;
  border: 6px solid #E8B71A;
  border-radius: 20px;
  background: #F7EAC8;
  padding: 20px;
  z-index: 99999998;
}

.scene-description  * { 
  font-size: 1rem;
}
