html.rem-root {
  font-size: 16px;
}

.scene {
  /*opacity: 0;*/
  pointer-events: none;
  user-select: none;
}

.scene.active {
  z-index: auto;
  opacity: 1;
}

html .scene.fixed .scene-element,
html .scene.fixed .scrolling-element {
  opacity: 1
}

.scene.active .scene-element,
.scene.active .scrolling-element {
  opacity: 1;
  transition: none;
}

.scene.active .scene-title,
.scene.active .scene-description {
  opacity: 1;
  transform: none;
  transition-delay: 500ms;
}
.scene.active .scene-title {
  transition-delay: 200ms;
}

#hill,
.scene.fixed .scene-element-wrapper,
.scene.on-top .scene-element-wrapper {
  z-index: 100;
}

.scene-element-wrapper {
  width: 100%;
}
.scene-element {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 300ms 0s linear;
}

.scene-element-content-wrapper {
  float: left;
  transform: rotate(-45deg) translateX(100%);
  transform-origin: 50% 100%;
}

.scene-element-content {
  transform: translateX(-50%) translateY(-50%);
}

.scrolling-element {
  opacity: 0;
  transition: opacity 300ms 0s linear;
}


#hill {
  width: 1600px;
  margin-left: -250px;
  height: 1600px;
  border-radius: 100%;
  border: 8px solid green;
  background: radial-gradient(ellipse at center, green 0%, #1FDA9A 100%);
}


.scrollContent {
  width: 1200px !important;
  margin: 0 auto;
}

#background {
  margin-top: 500px;
}

#bike {
  pointer-events: all;
}

.dana-si-gion .scene-element-content {
  width: 400px;
  height: 400px;
  position: relative;
  top: 100px;
  left: -50px;
}
.dana-si-gion .scene-element-content .dana-si-gion-pe-bicicleta {
  position: relative;
  top: 90px;
  width: 220px;
  height: auto;
}
.dana-si-gion .scene-element-content .dana-si-gion-pe-bicicleta .bicicleta-fara-roti {
  width: 100%;
  height: 100%;
}

.dana-si-gion .scene-element-content .dana-si-gion-pe-bicicleta .roata {
  position: absolute;
  width: 56px;
  height: 56px;
}

.dana-si-gion .scene-element-content .dana-si-gion-pe-bicicleta .roata.roata-spate {
  left: 5px;
  bottom: 4px;
}
.dana-si-gion .scene-element-content .dana-si-gion-pe-bicicleta .roata.roata-fata {
  right: 13px;
  bottom: 3px;
}

.dana-si-gion .scene-element-content .bubble-wrapper {
  position: absolute;
  top: -82px;
  left: -45px;
  width: 175px;
  height: 200px;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: all 300ms linear;
}
.dana-si-gion .scene-element-content .bubble-wrapper .bubble {
  border-radius: 100%;
  position: absolute;
  background: #fff;
  border: 6px solid #F7EAC8
}
.dana-si-gion .scene-element-content .bubble-wrapper .bubble-1 {
  width: 15px;
  height: 15px;
  bottom: 15px;
  right: 15px;
}

.dana-si-gion .scene-element-content .bubble-wrapper .bubble-2 {
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
}

.dana-si-gion .scene-element-content .bubble-wrapper .bubble-3 {
  width: 135px;
  height: 135px;
  bottom: 43px;
  right: 71px;
  overflow: hidden;
}
.dana-si-gion .scene-element-content .bubble-wrapper .bubble-3 a {
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dana-si-gion .scene-element-content .bubble-wrapper.active {
  transform: none;
}
.dana-si-gion .scene-element-content .bubble-wrapper.active a.active {
  display: block;
}


.scene-title {
  transition: all 500ms 0s linear;
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  /*text-transform: uppercase;*/
  font-size: 3rem;
  opacity: 0;
  position: fixed;
  top: 100px;
  left: 100px;
  width: 200px;
  color: black;
  text-shadow: black 0px 0px 20px;
  z-index: 99999999;
  transform: translateX(-50%);
}

.scene-description {
  /*transition: all 500ms 0s linear;*/
  transition: none;
  width: 40%;
  position: relative;
  top: -400px;
  font-family: 'Lobster', cursive;
  font-size: 1rem;
  opacity: 0;
  border: 6px solid #E8B71A;
  border-radius: 20px;
  background: #F7EAC8;
  padding: 20px;
  /*z-index: 99999998;*/
  z-index: 99;
}

.scene-description  * {
  font-size: 1rem;
}


/* language */
.ro {
  display: inline;
}
.en {
  display: none;
}

.lang-en .ro {
  display: none;
}
.lang-en .en {
  display: inline;
}


/*header*/
body section#titlechart #description { 
  width: 590px;
  height: 372px;
}
.lovebirds-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/lovebirds.png) no-repeat center center;
  background-size: 100% auto;
  animation-name: float;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
.lovebirds-wrapper .text-wrapper {
  position: absolute;
  width: 100%;
  bottom: 60px;
}
.lovebirds-wrapper .text-wrapper,
.lovebirds-wrapper .text-wrapper h1,
.lovebirds-wrapper .text-wrapper h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}