@media (max-width: 1700px) {
    .scene-title {
      left: 10px;
    }
}

@media (max-width: 1550px) {
    .scene-title {
      top: 10px;
      left: 600px;
      width: 300px;
      transform: translateY(-50%);
    }
}

@media (max-width: 1400px) {
    body.scene-last section#titlechart #description {
    	width: 300px;
    	height: 200px;
    	top: 25%;
    }
    body.scene-last section#titlechart #description .lovebirds-wrapper .text-wrapper { 
    	bottom: 20px;
    }
}
