/* 1st scene */
#botosani {

}
#botosani .scene-element-content {
  border: 1px solid red;
  /*transform: translateX(-50%) translateY(-50%);*/
}
#botosani .scene-element-content img {
  width: 300px;
  height: auto;
}


/* 2nd scene */
#sighisoara {

}
#sighisoara .scene-element-content {
  transform: translateX(-75%) translateY(-75%);
}
#sighisoara .scene-element-content img {
  width: 300px;
  height: auto;
}


