/* 1st scene */
#botosani {

}
#botosani .scene-element-content {
  border: 1px solid red;
  /*transform: translateX(-50%) translateY(-50%);*/
}
#botosani .scene-element-content img {
  width: 300px;
  height: auto;
}


/* 2nd scene */
#iasi {
	position: relative;
	height: 500px;
}

#iasi .jazz {
	position: absolute;
	top: -300px;
	right: 0;
}


/* 3rd scene */
#sighisoara {

}
#sighisoara .scene-element-content {
  transform: translateX(-75%) translateY(-75%);
}
#sighisoara .scene-element-content img {
  width: 300px;
  height: auto;
}


/* 4th scene */
#love {
  position: relative;
  height: 700px;
}
#love .hearts {
  position: absolute;
  top: -500px;
  right: 0;
  opacity: 0;
  transition: opacity 1s 300ms ease-in-out;
  z-index: 0;
}
.scene-love #love .hearts {
  opacity: 1;
}




/* 5th scene */
#mutat {
  position: relative;
  height: 800px;
}

#mutat .scene-element .scrolling-element {
  position: relative;
  top: -30px;
}


/* 6th scene */
#home-sweet-home {
  position: relative;
  height: 800px;
  overflow: hidden;
}

#home-sweet-home .scrolling-element {
  transition-delay: 1s;
}

.good-morning-wrapper {
  position: relative;
  min-height: 400px;
  top: 600px;
}
.good-morning {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-100%);
}
.good-morning-1 {
  top: -600px;
}

